body {
    background-color: #EAEFFC;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

nav {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-top: 20px;

}

#ul1 {

    font-size: 20px;
    list-style: none;
    display: flex;
    gap: 66px;
    font-weight: 700;

}

#ul2 {
    display: flex;
    gap: 30px;
    color: white;
    list-style: none;
    margin-left: 250px;

}

a {
    text-decoration: none;
}

#a1 {
    color: #444546;
    font-size: 30px;
    margin-left: 120px;
    margin-top: -5px;

}

input {
    height: 25px;
    width: 300px;
}

span {
    color: #149090;

}

.sec {
    margin-top: 120px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
}

#s1 {
    font-size: 50px;
}

.s2 {
    font-size: 32px;
}

.F {

    display: flex;
    position: absolute;
    justify-content: space-between;
    text-align: center;
    justify-content: start;
    margin-top: 50px;
    margin-left: 200px;
    font-size: 30px;
}

.a3 {
    color: #444546;
}

footer {
    display: flex;
    justify-content: space-between;
}

i {
    color: #444546;
}

section {
    font-size: 30px;
}

button {
    height: 28px;
    background-color: #149090;
    color: white;
    border-radius: 5px;
   padding: 5px 10px 10px;
   border: none;
    

}

button:hover {
   
    cursor: pointer;
    background-color: white;
    color: #149090;
    border: 1px solid #149090;

}

img {
    box-sizing: content-box;
    height: 350px;
    margin-bottom: 40px;
    margin-right: 60px;
    /* margin-left: 300px; */


}

#bt2 {
    position: absolute;
    margin-left: 1160px;
    margin-top: 370px;
}